node_modules

shared/.env
mobile/.env
web/.env

web/.next
web/tsconfig.tsbuildinfo
web/.tsbuildinfo

shared/node_modules
mobile/node_modules
web/node_modules
shared/src/firebase/.DS_Store
shared/src/.DS_Store
.DS_Store

shared/dist
.claude/worktrees/*